body{
    background-color: #E0DEDD;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
}
    /*  this targets the area where we are working */
.container{
    margin-top: 10px;
    width:100%;
}
    /* This targets the boxes inside the container*/
.list{
    width:100%;
    height:90px;
    background-color:#74cc63;
    margin-bottom:10px;
    position:relative;
}
    /* This targets the delete button */

.delete{
    margin-top: 300px;
    width:200px;
    line-height: 16px;
    margin-left: 25px;
}
    /* This targets the input field */
.add{
    width:100%;
    height:40px;
    text-transform:initial;
}
.startbutton{
    position: absolute;
    top:15px;
    right:10px;
    width:73px;
}

.completebutton{
    position: absolute;
    top:45px;
    right:10px;
}

.styles{
    list-style-type: circle;
    position: relative;
}
    /* This targets all the buttons */
.btn-seth{
    background-color: grey;
    width:100%;
    color:black !important;
}
.btn.disabled .btn-seth , .btn[disabled] .btn-seth{
    background-color: #9f089f !important;
    opacity: 0.6;
}
.priority{
    width:30px;
    height: 90px;
    float:left;
    position: relative;
}
.red{
    background-image:  url("../images/highpriority.png");
    background-repeat: no-repeat;
    width:150px;
    height:80px;
    margin-top:5px;
    margin-left: 10px;
}
.yellow{
    background-image:  url("../images/mediumpriority.png");
    background-repeat: no-repeat;
    width:150px;
    margin-top: 5px;
    margin-left: 5px;
}
.green{
    background-image:  url("../images/lowpriority.png");
    background-repeat: no-repeat;
    height:80px;
    width:150px;
    margin-top: 2px;
}
.text{
    position: absolute;
    top:15px;
    left: 100px;
}
.row{
    margin-left: 10px;
}
.space{
    height:25px;
    color:white;
}
.Title{
    width:100%;
    clear:both;
    position: absolute;
    left:40px;
    top:50px;
}
.heading{
    margin-bottom: 60px;
}
.fullsize{
    width:100%;
}
.hamburger{
    position: relative;
    left:-30px;
    padding-left: 30px;
    width:130px;
    margin-top: 10px;
}

.time{
    float:right;
    position: relative;
    top:-30px;
    text-align: left;
}

.startedtime{
    position: relative;
    top:35px;
    float:right;
    right:30px;
}

.logo{
    height: 30px;
    width:80px;
}
footer{
    margin-top: 30px;
    margin-bottom: 10px;
}

li{
    list-style-type:none;
}
.login{
    width:100%;
}
.container-fluid{
    width:100%;
    margin:0 auto;
}
.right{
    margin-top: 5px;
    width:40%;
    float:right;
    text-align: right;
    padding-right: 20px;
}
.admindelete{
    position: absolute;
    right:55px;
    top:10px;
    font-size: 45px;
}
.background{
    background-color: lightblue;
    width:100%;
}
.status{
    background-color: orange;
}
.error{
    color:red;
}
.header-font{
    font-family: adobe caslon pro;
}
.secondary-font{
    font-family: franklin gothic book;
}
a{
    color: black;
}
.addall{
    width:90%;
    margin:0 auto;
}
.gap{
    margin-top: 20px;
}
.task{
    width:30%;
    margin:0 auto;
}
.taskform{
    padding: 10px;
}
.editrow {
  margin: 0 3px;
  padding: 2px;
}
.usertext{
    width:40%;
    float:left;
    padding-top: 35px;
}
.employeebutton{
    width:20%;
    margin-top: 25px;
    position: relative;
    bottom: 30px;
}
.admintext{
    width:50%;
    margin-right: 0;
    position: absolute;
    top:50px;
    left:100px;
}

.form-control{
    position:absolute !important;
    top:-6px !important;
    width:45%;
    float:right;
    margin:0;
}
.employeelist{
    height:20px;
    width:100%;
/*    border-bottom: thin dotted #000;
*/
}
.assign{
    width:100%;
}
.sectional{
    width:100%;
}

.center{
    width:90%;
    margin-left:30%;
}

.inital{
    text-transform:initial;
    padding: 0 20px 10px 20px;
}

.capitalize{
    text-transform:capitalize;
}

/* navigation */

.navigation{
    position: absolute;
    top:35px;
    right:70px;
}
.navbar{
    position: absolute;
    width:140px;
    top:-40px;
    right:-80px;
}
.bars-inside{
    width:30px;
    font-size: 20px;
    float:left;
    position: relative;
    right:40px;
    top:30px;
}

.bars-outside{
    width:30px;
    font-size: 20px;
    float:right;
    position: relative;
    right:50px;
    top:-5px;
}



