<div class="taskform">
  <h3 class="heading center-align"> Add task </h3>
    <form name="taskForm" class="secondary-font inital" ng-submit="addTask()">
        Add section:
        <input ng-model="sections" name="section" class="add" type="text" placeholder="Section name" ng-pattern="/^[^\.!@#$%]*$/" ng-init="$element.focus()" />
        <p ng-show="taskForm.section.$invalid" class="help-block">Please do not use special characters.</p>
        <div class="gap"></div>
        Add task:
        <input class="add" ng-model="task.name" type="text" maxlength="30" placeholder="New Task" ng-init="$element.focus()" required/>
        <div class="gap"></div>
        <!-- Here is where my tasks will have priorities given to them -->
        Add priority:
        <select class="add space blacktext" ng-init="$element.focus()" ng-model="task.priority" required>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
        <div class="gap"></div>
        Add Employee(s):
        <input class="add capitalize" ng-init="$element.focus()" maxlength="30" type="text" ng-model="task.employee" placeholder="Add Employees" required/>
        <div class="gap"></div>
        <button type="submit" class="light-button blacktext space header-font" ng-disabled="taskForm.$invalid"><p>Enter</p>
        </button>
    </form>
    <form name="locationform" class="secondary-font inital" ng-hide="editlocation" ng-submit="addLocation(task)">
        <h3>Add location</h3>
        <input class="add capitalize" maxlength="30" type="text" ng-model="task.location" placeholder="Add location"/>
          <div class="gap"></div>
            <button type="submit" class="light-button blacktext space" ng-disabled="locationform.$invalid"><p>Enter</p>
        </button>
    </form>
</div>
