            <div class="topbanner">
            <h1 class="heading">Ambrosial</h1>
            <h3 class="username capitalize" ng-show="user">Welcome, {{user.firstname}}
            </h3>
               <div collapse="navCollapsed" class="nav-collapse collapse navbar-responsive-collapse">
                  <ul class="nav">
                        <a href="#/signup" class="add employee" ng-if="user.usertype == 'admin'"> Add Employee </a>
                        <a href="#/user" class="usersign" ng-if="user.usertype == 'admin'"> Add User </a>

                        <a href="#/" ng-click="authObj.$unauth()" class="employeesignout" ng-if="user.usertype != 'admin'"> Signout </a>
                        <a class="signout" href="#/" ng-if="user.usertype == 'admin'" ng-click="authObj.$unauth()"> Signout </a>
                  </ul>
               </div>
            </div>
            <div class="locationbanner">
                <div class="title header-font" ng-if="user.usertype =='employee'">
                <h4 class="capitalize">  <a ng-href="http://maps.google.com?q={{taskLocation.location}}"> {{ taskLocation.location }}</a></h4>
                </div>
                <div class="capitalize title header-font" ng-if="user.usertype =='admin'">
                    <h4><a ng-href="http://maps.google.com?q={{taskLocation.location}}"> {{ taskLocation.location }}  </a><a ng-click="openForm()" ng-controller="LoginController"><i class="fa fa-pencil" ng-click="editlocation = false"></i></a></h4>
                </div>
            </div>
                <button ng-controller="LoginController" ng-click="openForm()" ng-if="user.usertype == 'admin'" class="light-button">Add Tasks</button>
            <div ng-swipe-left="nav = true" ng-swipe-right="nav = false" class="navigation">

                <a ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="glyphicon bars-outside glyphicon-align-justify xxx" ng-hide="nav"></a>

                <nav ng-controller="LoginController" ng-show="nav" class="navbar">
                    <a collapse="navCollapsed" class="glyphicon bars-inside glyphicon-align-justify"></a>
                </nav>
            </div>

                <div class="accordion">
                    <!-- Here is where my accordian is being called and only one at a time. -->
                    <accordion close-others="oneAtATime" ng-hide="filterTask.length != null">
                        <h3>Current Tasks</h3>
                     <accordion-group heading="{{section.$id}}" is-open="section.$first" ng-repeat="section in tasklist" class="background secondary-font fullsize">
                        <!-- Here is my list div where all the tasks are being placed.  -->

                        <div class="list" ng-swipe-right="showActions = true" ng-swipe-left="showActions = false" ng-class= "{status: task.status == 'Taken'}" ng-repeat="($id,task) in section" ng-hide="task.status == 'Complete'">
                        <div class="listwrapper">
                            <div ng-if="user.usertype !='user'">
                                <div  class="priority" ng-class= "{red: task.priority == 'High' , yellow: task.priority == 'Medium' , green: task.priority == 'Low'}">
                                </div>
                            </div>
                            <!-- Editing tasks (admin can only edit tasks) and admin can delete.-->
                            <div class="sec2" ng-if="user.usertype == 'admin'">
                                <div class= "employeelist">
                                <a href="#" class="text capitalize" editable-text='task.employee' onaftersave="tasklist.$save(section)" maxlength="30"> {{ task.employee || "empty"}} </a>
                                <div class="admintext">
                                <a href="#" class="textname" editable-text='task.name' onaftersave="tasklist.$save(section)" maxlength="30"> {{ task.name || "Add Task"}} </a>  </div>
                                <div class = "admindelete">
                                      <i class="fa fa-minus minus" ng-click="section[$parent.$id] = null; tasklist.$save(section)"></i>
                                </div>
                            </div>
                            </div>
                            <div class="sec3" ng-if="user.usertype == 'employee'">
                                <div class= "employeelist">
                                    <p class="text"> {{ task.employee || "empty" }} </p>
                                <div class="admintext">
                                    <p class="textname"> {{ task.name || "empty" }} </p>
                                </div>
                                    <div class = "right">
                                      <button class="light-button startbutton" name="update" ng-click="update(task); tasklist.$save(section)" ng-hide="task.status == 'Taken'"> Start </button>

                                      <button class="startbutton button red-button" ng-click="stop(task); tasklist.$save(section)" ng-hide="task.status != 'Taken'"> Stop </button>

                                      <button class="button green-light-button completebutton" ng-disabled="$parent.task.status != 'Taken'" ng-click="complete(task); tasklist.$save(section)" ng-hide="task.status != 'Taken'"> Complete </button>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="user.usertype == 'user'">
                                <ul>
                                    <li><p class="usertext"> {{ task.name || "empty"}} </p></li>
                                    <li><p class="startedtime"> Started: {{ task.time.start | date:'shortTime' }}</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </accordion-group>
                    </accordion>
                </div>



                <h3>Completed Tasks</h3>

                <accordion close-others="oneAtATime">
                     <accordion-group  heading="{{section.$id}}" ng-repeat="section in tasklist" class="background secondary-font" ng-if="user.usertype != 'user'" >

                        <div class="newlist" ng-repeat="($id,task) in section" ng-show="task.status == 'Complete'">
                            <div class="sec3">
                                <ol>
                                    <li class="styles">
                                        <p> <b>Employee(s):</b> {{task.employee || 'empty'}}</p>
                                        <p> <b>Task:</b> {{ task.name || "empty" }} </p>
                                    </li>
                                        <p class="time"> {{ task.time.start | date: 'shortTime'}} to {{ task.time.complete | date: 'shortTime'}} </p> <button ng-click="stop(task); tasklist.$save(section)" class="button light-button">Return the Task</button>
                                </ol>
                            </br>
                            </div>
                        </div>

                    </accordion-group>
                    <accordion-group  heading="{{section.$id}}" ng-repeat="section in tasklist" class="background secondary-font" ng-if="user.usertype == 'user'" >

                        <div class="newlist" ng-repeat="($id,task) in section" ng-show="task.status == 'Complete'">
                            <div class="sec3">
                                <ol>
                                    <li class="styles">
                                        <p> <b>Task:</b> {{ task.name || "empty" }} </p>
                                    </li>
                                        <p class="time"> <b>Completed:</b> {{ task.time.start | date: 'shortTime'}} to {{ task.time.complete | date: 'shortTime'}} </p>
                                </ol>
                            </br>
                            </div>
                        </div>

                    </accordion-group>
                </accordion>

                <footer class="footer"><div class="container"><img src="images/logo-01.png" class="logo" alt=""> <div class="bottom"> All Rights Reserved.</div></div></footer>

