            <div ng-swipe-left="nav = true" ng-swipe-right="nav = false" class="navigation">
                <a ng-click="nav = true" class="glyphicon bars-outside glyphicon-align-justify" ng-hide="nav"></a>
                <nav ng-show="nav" class="navbar">
                <a ng-click="nav = false" class="glyphicon bars-inside glyphicon-align-justify"></a>
                <ul>
                    <li ng-if="user.usertype == 'admin'"><a href="#/signup"> Signup </a></li>
                    <li ng-show="user"> {{user.firstname}} <br>
                    <a href="#/" ng-click="authObj.$unauth()">Signout</a></li>
                </ul>
                </nav>
            <div class="wrapper">
                <div class="Title header-font">
                <h1 ng-model="title" editable-text='title' onaftersave="title.$save(section)" > Hi, {{title || "Title"}} </h1>
            </div>
            </div>
        </div>
                <div>
                    <!-- Here is where my accordian is being called and only one at a time. -->
                    <accordion close-others="oneAtATime">
                     <accordion-group  heading="{{section.$id}}" is-open="section.$first" ng-repeat="section in tasklist" class="background secondary-font">
                        <!-- Here is my list div where all the tasks are being placed.  -->
                        <div class="list" ng-swipe-right="showActions = true" ng-swipe-left="showActions = false" ng-class= "{status: task.status == 'Taken'}" ng-repeat="(task_id,task) in section" ng-hide="task.status == 'Complete'">
                        <!-- Placing an div here so I can make a box for my priority level -->
                            <div class="sec1" ng-if="user.usertype !='user'">
                                <div  class="priority" ng-class= "{red: task.priority == 'High' , yellow: task.priority == 'Medium' , green: task.priority == 'Low'}">
                                </div>
                            </div>
                            <!-- Editing tasks (admin can only edit tasks) and admin can delete.-->
                            <div class="sec2" ng-if="user.usertype == 'admin'">
                                <div class= "employeelist">
                                <a href="#" class="text" editable-text='task.employee' onaftersave="tasklist.$save(section)" maxlength="30"> {{ task.employee || "Add employee"}} </a>
                                <div class="admintext">
                                <a href="#" class="textname" editable-text='task.name' onaftersave="tasklist.$save(section)" maxlength="30"> {{ task.name || "Add task"}} </a>  </div>
                            <!-- <p class="items"> {{ tasklist | json }}</p> -->
                                <div class = "admindelete">
                                    <div ng-show="showActions">
                                      <button ng-click="section[task_id] = null; tasklist.$save(section)"> Delete </button>
                                    </div>
                                </div>
                                <!-- <button class="btn btn-primary btn-seth header-font" ng-click="tasklist.$remove(task)"> Delete </button> -->
                            </div>
                            </div>
                            <!-- If the usertype is a user they can only take tasks and only until after a task is taken can you delete. -->
                            <div class="sec3" ng-if="user.usertype == 'employee'">
                                <div class= "employeelist">
                                    <p class="text"> {{ task.employee || "empty" }} </p>
                                <div class="admintext">
                                    <p class="textname"> {{ task.name || "empty" }} </p>
                                </div>
                                    <div class = "right">
                                      <button class="startbutton" name="update" ng-click="update(task_id); tasklist.$save(task_id)" ng-hide="task.status == 'Taken'"> Start </button>

                                      <button class="startbutton" ng-click="stop(task); tasklist.$save(section)" ng-hide="task.status != 'Taken'"> Stop </button>

                                      <button class="completebutton" ng-disabled="$parent.task.status != 'Taken'" ng-click="complete(task); tasklist.$save(section)"> Complete </button>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="user.usertype == 'user'">
                                <a class="usertext"> {{ task.name || "empty"}} </a>
                            </div>
                        </div>
                    </accordion-group>
                    </accordion>
                </div>
                <!--Where the add feature places the Obj-->
                <div class="addall" ng-if="user.usertype == 'admin'">
                    <h3 class="task"> Add task </h3>
                    <form name="taskForm" class="secondary-font inital" ng-submit="addTask()">
                        <input ng-model="$parent.sections" class="add" type="text" placeholder="Section name"/>
                        <div class="gap"></div>
                        <input class="add" ng-model="$parent.task.name" type="text" maxlength="30" placeholder="New Task" required/>
                        <div class="gap"></div>
                        <!-- Here is where my tasks will have priorities given to them -->
                        <select class="add space" ng-model="$parent.task.priority" required>
                          <option value ="None" ng-selected="selected" ng-disabled="none">
                          None</option>
                          <option value="Low">Low</option>
                          <option value="Medium">Medium</option>
                          <option value="High">High</option>
                        </select>
                        <div class="gap"></div>
                        <input class="add capitalize" maxlength="30" type="text" ng-model="$parent.task.employee" placeholder="Add Employees"/>
                        <div class="gap"></div>
                        <button type="submit" class="space btn-seth header-font" ng-disabled="taskForm.$invalid"><p>Enter</p>
                        </button>
                    </form>
                </div>
                <h3>Completed Tasks</h3>

                <accordion close-others="oneAtATime">
                     <accordion-group  heading="{{section.$id}}" ng-repeat="section in tasklist" class="background secondary-font">

                        <div class="newlist" ng-repeat="($id,task) in section" ng-show="task.status == 'Complete'">
                            <div class="sec3">
                                <p> {{ task.name || "empty" }} </p>
                            </div>
                        </div>

                    </accordion-group>
                </accordion>
