            <p>asdhjaksjhdj</p>
            <a ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="btn btn-navbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </a>
               <div collapse="navCollapsed" class="nav-collapse collapse navbar-responsive-collapse">
                  <ul class="nav">
                        <li ng-if="user.usertype == 'admin'"><a href="#/signup"> Add employee </a></li>
                        <li ng-if="user.usertype == 'admin'"><a ng-click="openForm()">Add tasks</a></li>
                        <li ng-show="user"> {{user.firstname}} <br>
                        <a href="#/" ng-click="authObj.$unauth()"> Signout </a></li>
                  </ul>
               </div>
